.awal{
    color: darkseagreen;
    font-family: fantasy;
    font-size: 40px;
}
.judul{
    color:rgb(8, 8, 138);
    font-family: 'Tahoma';
    font-size: 35px;
}
    .subjudul{
        color: coral;
        font-family: calibri;
        font-size: 20px;

    }
